body{
    background-color: #F3F5FC;
}

h1 img{
    margin: 2%;
}

main{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.container-mensaje{
    width: 70%;
    position: relative; 
    background-color: #F3F5FC; 
}

label{
    display: block;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    color: #343A40;
    margin-bottom: 3px;
}

#mensaje{
    width: 60%;
    margin-bottom: 315px;
    border: none;
    background-color: #F3F5FC;
    box-sizing: border-box;
    padding: 2% 2%;
    outline: none;
    font-family: 'Inter', sans-serif;
    color: #343A40;
    font-size: 3vmin;
    display: block;
    
}

#encriptar, #desencriptar{
    display: inline-block;
    font-size: 1.5vmax;
    margin: 5px;
    border-radius: 10px;
    padding: 30px 50px;
}

#encriptar{
    background-color: #0A3871;
    color: white;
}

#desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}

textarea{
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
    color: #343A40;
    font-size: 25px;
    margin: 5px;
    border: 0;
    outline: none;
    resize: none;
    height:50%;
}

.traduccion{
    width:20%;
    height: 80%;
    border: #FFFFFF solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 15px rgba(0,0,0,0.08);
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 60%;
}

.container-img{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
}

.traduccion img{
    width: 100%;
}

.container-texto{
    width: 100%;
    display: flex;
    height: 35%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-texto{
    display: flex;
    flex-direction: column;
}

#texto-indicacion1{
    text-align: center;
    margin: 5px 0;
    font-size: 3.5vmin;
    font-family: 'Inter', sans-serif;
    color: #343A40;
}

#texto-indicacion2{
    text-align: center;
    margin: 5px 0;
    font-size: 2.5vmin;
    font-family: 'Inter', sans-serif;
    color: #343A40;
}


#copiar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 10px;
    padding: 20px 0;
    font-size: 20px;
    width: 100%;
}